.form {
  display: flex;
  align-items: center;
  justify-content: end;
}

.form button {
  color: #fff;
  padding: 4px 14px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  background-color: #777;
  margin-left: 10px;
  display: block;
  white-space: nowrap;
}

.form button:hover,
.form button:active {
  background-color: #fa8128;
}

@media (max-width: 425px) {
  .form {
    align-items: flex-end;
    justify-content: start;
  }
}